* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    line-height: 1.2;

}
img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    padding: 1rem;
}

.row {
    width: 50rem;
}

.accordion-item {
    border-top: 1px solid #c9c5c5;
}

.accordion-titel {
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    color: blue;
    font-weight: 700;
    transition: all .2s;

}

.accordion-titel:hover {
    color: black;
}

.accordion-img {
    width: 60%;
    height: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: all .2s;
}

.accordion-input:checked ~ .accordion-body {
    max-height: 35rem;
}

.accordion-input:checked ~ .accordion-titel {
    color: black;
}

.icon {
    transition: all 0.5s linear;
    width: 1rem;
}

.accordion-input:checked ~ label .icon {
    transform: rotate(45deg);
}

.accordion-titel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}