* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    line-height: 1.2;

}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.accordion-item {
    border-top: 1px solid #c9c5c5;
}

.accordion-item label {
    padding: 20px 5px;
    position: relative;
    display: block;
    height: 60px;
    cursor: pointer;
    color: black;
    line-height: 33px;
    font-size: 30px;
    font-weight: 700;
    transition: all .2s;

}

.accordion-item label:hover {
    color: blue;
}

.accordion-img {
    display: none;
}

.accordion-input:checked + .accordion-body .accordion-img {
    display: block;
}

